.PrintPage {

}


.goal-table-container,
.goal-table-container table {
    width: 100%;
    
}

.goal-table-container table {
    border-collapse: collapse;
}

.goal-table-container table tr,
.goal-table-container table tr td {
    border-bottom: 1px solid #808080;
}

.goal-table-container table tr th,
.goal-table-container table tr td {
    padding: 0.5rem 0.75rem;
}

.print-area-container {
    background: #525253;
    width: 100%;
    min-width: 9in;
    padding: 30px 0;

}

.print-area {
    background: #ffffff;
    color: #000000;
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    padding: 0;

    overflow:hidden;

    /*border-width: 0.5in 0.5in 0.75in 0.5in;*/
    border-style: solid;
    border-color: #ffffff;

    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


@media only print {
    header, footer, main { display: none; }
    
    .print-area-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .print-area { 
        position: absolute;
        top:0;right:0;left:0;bottom:0;
        size: 8.5in 11in;
        /*padding: 0.5in 0.5in 0.75in 0.5in;*/
    
        -webkit-box-shadow: none;
        box-shadow: none;
    }

   
}

@page{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}